<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>65FA60E5-D6AB-4B5D-B857-FA08B5D9D1FD.playgroundpage</string>
		<string>F9FCA2BC-B119-4FCF-8DD4-FE39CF03234A.playgroundpage</string>
		<string>16F15E5A-8032-451C-B36D-195FDE9D1163.playgroundpage</string>
		<string>E9224AB5-DDFC-44E4-B18C-EE3510CE49C5.playgroundpage</string>
		<string>E7FBB1F6-BEE8-4DCB-82DB-CF97F02E31C1.playgroundpage</string>
		<string>2A10215A-76D5-4613-B50C-461CB35572CC.playgroundpage</string>
		<string>A348DF11-957A-429B-9787-F7E271C9BD12.playgroundpage</string>
		<string>FEAD2B25-B547-406D-B73B-5997F91E78CD.playgroundpage</string>
		<string>228C2F76-0745-4BCE-A00B-24103D3A326E.playgroundpage</string>
		<string>67DB32A3-E5BE-4708-B116-516E719A45D1.playgroundpage</string>
		<string>A6A19F84-1A16-4D20-9D87-4C1C356E8428.playgroundpage</string>
		<string>A60F79F0-F8A3-42D3-82D1-5AC52F233033.playgroundpage</string>
		<string>D9AF6AEF-B87E-4F22-8C4C-131DD2D8A7E8.playgroundpage</string>
		<string>92442C7E-F023-411A-9EFD-A6AFAE2148D4.playgroundpage</string>
		<string>737E6865-D5B3-4931-93E8-69838752A64B.playgroundpage</string>
		<string>9D4137AF-895F-47F6-95F0-F475D414C8D5.playgroundpage</string>
		<string>B352B707-0997-44DE-BD3C-E4A51BCEAF83.playgroundpage</string>
		<string>5A7456D5-3F98-46B0-982D-65C08E3236F5.playgroundpage</string>
	</array>
</dict>
</plist>
